html, body{
  padding: 0;
  margin: 0;
  background: linear-gradient(35deg, #64B6AC, #3C6B7C 100%);
  height: 100%;
}

hr{
  margin-bottom: 1rem;
}

@import 'https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300';

@-webkit-keyframes shake {
    0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
    10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
    20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
    30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
    40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
    50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
    60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
    70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
    80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
    90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
    100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}

.shake {
    -webkit-animation-name: shake;
    -webkit-animation-duration: 0.5s;
    -webkit-transform-origin:50% 50%;
    -webkit-animation-iteration-count: 1;
}

.center-corner {
  background-position: 50% 50%;
  background-size: 0% 0%;
}

.question{
  font-size: 32px;
  font-weight: 700;
  font-family: 'Sanchez', serif;
  text-align: left;
}

.answer{
  text-align: left;
  color: darkgrey;
  font-style: italic;
  font-size: 20px;
}

.initials{
  display: flex;
  justify-content: flex-start;
}

.submit{
  background: #3C6B7C;
  color: white;
  border-radius: 4px;
  border: none;
  margin-top: 1rem;
  font-size: 24px;
  padding: .5rem;
  display: flex;
  justify-content: flex-start;
  font-family: 'Rokkitt', serif;
}

.score{
  text-align: left;
}

.choicesArea{
  color: white;
  background: #64B6AC;
  border-radius: 4px;
  text-align: left;
  padding-left: 1rem;
  width: 25%;
  cursor: pointer;
  margin-bottom: 1rem;
  font-size: 20px;
}

.hidden{
  visibility: hidden;
}

.text-center{
  text-align: center;
}

/**********************
    BUTTON STYLING
**********************/
.btn {
	line-height: 50px;
	height: 50px;
	text-align: center;
	width: 250px;
	cursor: pointer;
}

.btn::before, .btn::after {
  content: '';
  position: absolute;
  transition: all 0.3s;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.highscores-btn {
	color: #FFF;
	transition: all 0.3s;
	position: relative;
}

.highscores-btn::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0;
	transition: all 0.3s;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: rgba(255,255,255,0.5);
	border-bottom-color: rgba(255,255,255,0.5);
	transform: scale(0.1, 1);
}

.highscores-btn:hover::before {
	opacity: 1;
	transform: scale(1, 1);
}

.highscores-btn::after {
	content: '';
  position: absolute;
  top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	transition: all 0.3s;
	background-color: rgba(255,255,255,0.1);
}

.highscores-btn:hover::after {
	opacity: 0;
	transform: scale(0.1, 1);
}

.header{
  font-family: 'Rokkitt', serif;
}

.view-highscores-text{
  font-size: 18px;
}

.timer{
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 4px;
  border: 2px solid white;
  width: 15%;
  color: white;
}

.container{
  padding: 2rem;
  margin-top: 2rem;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
  background: white;
  box-shadow: 10px 10px 18px 0px rgba(0,0,0,0.75);
}

.start-btn{
  border-radius: 4px;
  border: 1.5px solid #64B6AC;
  font-size: 24px;
  width: 25%;
  padding: 1rem;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(#64B6AC, #3C6B7C);
  background-repeat: no-repeat;
  transition: background-size .5s, color .5s;
}

.start-btn:hover{
  background-size: 100% 100%;
  color: white;
  cursor: pointer;
}
